TARGETED_DEVICE_FAMILY = 1,2
INFOPLIST_FILE = frontendTests/Info.plist
BUNDLE_LOADER = $(TEST_HOST)
DEVELOPMENT_TEAM = 43R9NQ7PV3
PRODUCT_BUNDLE_IDENTIFIER = com.214alpha.frontendTests
LD_RUNPATH_SEARCH_PATHS = $(inherited) @executable_path/Frameworks @loader_path/Frameworks
ALWAYS_EMBED_SWIFT_STANDARD_LIBRARIES = YES
TEST_HOST = $(BUILT_PRODUCTS_DIR)/s33d.app/s33d

